<div ng-controller="TodosCtrl">
  <h1>Todos</h1>

  <form name="currentTodo" ng-submit="addTodo($event)">
    <input type="text" class="form-control" ng-model="nextTodo" placeholder="Add a todo...">
  </form>

  <ul class="todos">
    <li ng-repeat="todo in todos" ng-class="{complete: todo.complete}">
	
      <span><input type="checkbox" ng-click="toggleComplete(todo)" ng-model="todo.complete"> {{ todo.title }}</span>
	  	  <a href='#' ng-click="deleteTodo($event, todo)">Delete</a>
    </li>
  </ul>
</div>